<div class="header_image">
<div class="jumbotron center">
	<h1>Explore Arizona</h1>
	<h3>A simple and easy way to share you explorations around Arizona</h3> 
	<p>
		<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
	    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
	</p>
</div>
</div>